
<div id='puzzle-div'></div>

<div class='title-container'>
    <p class='controls-title'>Soduko</p>
</div>
<div class='controls-container'>
    <div class='controls-button-container'>
        <button type='button' class='controls-button' id='controls-new-puzzle'>New Puzzle</button>
        <button type='button' class='controls-button' id='controls-reset-puzzle'>Reset Puzzle</button>
        <button type='button' class='controls-button' id='controls-check-solution'>Check Solution</button>
        <div id='mode'>
            <input type="radio" class='solution-button' id="radio6" name="mode" value='0' checked="checked"><label for="radio6">Hide Solution</label>
            <input type="radio" class='solution-button' id="radio7" name="mode" value='1'><label for="radio7">Show Solution</label>
        </div>        
    </div>


    <div class='slider-container'>

        <div class='slider-text'>
        </div>

        <div class='display-box-container'>
            <span>Level of Difficulty: </span>
            <span id="display-box">Very Easy</span>
        </div>

        <div class="slider-box">
            <input type="text" class="slider" value=1 />
        </div>

    </div>

</div>
<div class='container'>
<div class='main-container'>
    <% @counter = 0 %>
    <%for i in 'A'..'I' %>
        <%for j in 0..8 %>
            <div class='square'>
                <input class='square-input' type='text' id=<%= @counter.to_s %> value=<%= '' %> >
            </div>
            <% if ((@counter+1) % 3 == 0) && ((@counter+1) % 9 != 0)%>
                <div class='vertical-seperator'>|</div>
            <% end %>
            <% @counter += 1 %>
        <% end %><br/>
        <% if (i == 'C') || (i == 'F') %>
                <div class='horizontal-seperator'>-</div>
        <% end %>
    <% end %>
</div>
</div>
<div class='bottom-seperator'>
</div>



