<!DOCTYPE html>
<html>
	<head>
		<title>Sudoku-Web</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sniglet">
		<link type="text/css" rel="stylesheet" href="./css/reset.css" />  
		<link type="text/css" rel="stylesheet" href="./css/style.css" />
		<link type="text/css" rel="stylesheet" href="./css/switchery.css" />  
		<link type="text/css" rel="stylesheet" href="./css/powerange.css" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
		<script type="text/javascript" src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
 		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
		<script type="text/javascript" src="./javascript/switchery.js"></script>  
		<script type="text/javascript" src="./javascript/powerange.js"></script>
		<script type="text/javascript" src="./javascript/sudoku_web.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>

<script type="text/javascript">

  	$.ajaxSetup ({  
     	cache: false  
  	});

	$(".new-puzzle").button();

	$(".reset-puzzle").button();

	$(".check-solution").button();

	$("#mode").buttonset();

  	$(document).ready(function() { 
 		new_puzzle();
 		reset_puzzle();
 		show_solution();
 		hide_solution();
 		check_solution();
 		get_current_state();
 		close_button();

		var slider = document.querySelector('.slider');
		var init = new Powerange(slider, {
			callback      : function() {
			},
			min           : 1,
			max           : 5,
			decimal       : true,
			disable       : false,
			disableOpacity: 0.5,
			hideRange     : true,
			klass         : 'slider',
			start         : 1,
			step          : 1,
			vertical      : false
		});

		slider.onchange = function() {
			slider.innerHTML = slider.value;
			var level;
			switch (slider.value) {
				case '1': 
    				level = 'Very Easy'
   	 			break;

					case '2': 
    				level = 'Easy'
   	 			break;

					case '3': 
    				level = 'Medium'
   	 			break;

					case '4': 
    				level = 'Hard'
   	 			break;

   	 			case '5': 
    				level = 'Very Hard'
   	 			break;
			};
			document.getElementById('display-box').innerHTML = level;
			// console.log("slider: " + slider.value);
			// console.log("level: " + level);
		};

        $(document).on('click','input[type=text]',function() { 
        	this.select(); 
        });

        $(document).on('blur','input[type=text]',function() { 
        	get_current_state();
        });

 	});

// 	function setRadio(id) {
//    	var radio = $('#' + id);
//    	radio[0].checked = true;
//    	radio.button("refresh");
// 	}

  	function new_puzzle() {
  	   	$('#controls-new-puzzle').on('click', function() {
  	   		// setRadio('radio6');
  	   		var slider_data = document.querySelector('.slider').value;
  	   		var radio_button_data = (($("input[name=radio]:checked").val()));
			$.post("/new_puzzle", 
 				{
					radio: slider_data
  				}, function(data) {
				for (var i=0; i < data.length; i++) {
					if ((data.charAt(i)) != 0) {
						$('#'+i).val(data.charAt(i));
					} else {
						$('#'+i).val('');
					};
				};
          	},'text');
  		});
  	};

 	function show_solution() {
 		$('#radio7').on('click', function() {
 			$('#radio7').attr("disabled", true);
 			$('#radio6').attr("disabled", false);
 			var current_state_data = '';
			for (var i=0; i < 81; i++) {
				if (($('#'+i).val()) != '') {
					current_state_data = (current_state_data + ($('#'+i).val()));
				} else {
					current_state_data = (current_state_data + '0');
				};
			};
			$.post("/show_solution",
				{
					mode: current_state_data
  				}, function(data) {
					for (var i=0; i < data.length; i++) {
						$('#'+i).val(data.charAt(i));
					};
			},'text');
 		});
 	};

 	function hide_solution() {
 		$('#radio6').on('click', function() {
 			$('#radio7').attr("disabled", false);
 			$('#radio6').attr("disabled", true);
			var current_state_data = '';
			for (var i=0; i < 81; i++) {
				if (($('#'+i).val()) != '') {
					current_state_data = (current_state_data + ($('#'+i).val()));
				} else {
					current_state_data = (current_state_data + '0');
				};
			};
			$.post("/hide_solution",
				{
					mode: current_state_data
  				}, function(data) {
					for (var i=0; i < data.length; i++) {
					if (data.charAt(i) != '0') {
						$('#'+i).val(data.charAt(i));
					} else {
						$('#'+i).val('');
					};
				};
			},'text');
 		});
 	};

 	function get_current_state() {
 		var current_state = '';
 		for (var i=0; i < 81; i++) {
			if ($('#'+i).val() != '') {
				current_state = (current_state + $('#'+i).val());
			} else {
				current_state = (current_state + '0');
			};
		};
		return current_state;
 	};

 	function reset_puzzle() {
  	   	$('#controls-reset-puzzle').on('click', function() {
 			$('#radio6').attr("disabled", true);
			$('#radio7').attr("disabled", false);
			var current_state_data = '';
			for (var i=0; i < 81; i++) {
				if (($('#'+i).val()) != '') {
					current_state_data = (current_state_data + ($('#'+i).val()));
				} else {
					current_state_data = (current_state_data + '0');
				};
			};
			$.post("/reset_puzzle",
				{
					mode: current_state_data
  				}, function(data) {
					for (var i=0; i < data.length; i++) {
						if ((data.charAt(i)) != 0) {
							$('#'+i).val(data.charAt(i));
						} else {
							$('#'+i).val('');
						};
					};	
			},'text');
  		});
  	};

	function check_solution() {
  	   	$('#controls-check-solution').on('click', function() {
			var current_state_data = '';
			for (var i=0; i < 81; i++) {
				if (($('#'+i).val()) != '') {
					current_state_data = (current_state_data + ($('#'+i).val()));
				} else {
					current_state_data = (current_state_data + '0');
				};
			};
			if (current_state_data != '000000000000000000000000000000000000000000000000000000000000000000000000000000000') {
		  	   	$('.slider-container').fadeOut(200);
				$('.controls-button-container').fadeOut(200, function() {
					$('.sign-in-popup').fadeIn(200);
					$('#mask').removeClass('hiding');		
					$('#mask').addClass('showing');	
				});
				$.post("/check_solution",
					{
						mode: current_state_data
	  				}, function(data) {
						$("#puzzle-div").html(data);
				},'text');
  	   		};
	  	});
  	};

	function close_button() {
		$('#close-button, #mask').on('click', function() { 
		  	$('.sign-in-popup').fadeOut(200, function(){
		  		$('#mask').removeClass('showing'); 
		  		$('#mask').addClass('hiding'); 
		  		$('.controls-button-container').fadeIn(200);
	  			$('.slider-container').fadeIn(200);
		  	});
		});
	};

</script>

